*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    margin-top: -8px;
}

.form {
    display: flex;
    margin-top: -20px;
}

.email {
    font-size: smaller;
}
.password {
    
    margin-top: 15px;
}

.pw-label {
    padding-left: 45px;
    font-size: smaller;
}

.forgot-password {
    padding-left: 55px;
    margin-top: 10px;
    text-align: right;

}

.continue-button {
    border: 1px solid black;
    width: 100%;
    height: 25px;
    text-align: center;
    background-color: rgb(240, 193, 75);
    display: inline;
}

.need-help {
    text-align: center;
    margin-top: -50px;
    margin-left: -55%;
    font-size: small;

}
.card {
    width: 296px;
    height: 240px;
    padding: 0px 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 20px auto 25px auto;
    margin-top: 103px;
}

.new-to-amazon {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0px;
    color: grey;
}


.create-acct-button {
    width: 25em;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(231, 233, 236);
    border: 1px solid black
    text-align: center;
    display: inline;
}

hr {
    margin-top: 2em;
}
.conditions-of-use {
    text-align: center;
    margin-top: 20px;
    font-size: smaller;
}

footer {
    text-align: center;
    font-size: small;
}

a {
    text-decoration: none;
}